@import url('https://fonts.googleapis.com/css?family=Open+Sans:300');


html {height: 100%}
body {
	height: 100%;
	width: 1400px;
	font: 14px/18px Times sans-serif;
	background-image: url(../img/fon.png);
	background-color: #FFF;

	-webkit-font-smoothing: antialiased;
	-webkit-overflow-scrolling: touch;
}

h1, h2, h3, h4, h5, h6 {
	font-family: "OpenSans Light";
	color: #171b1f;
}


a:hover, a:focus {
	color: #aa183c;
	text-decoration: none;
}

.navbar-collapse.collapse.menu-main{
	float:left;
}
.icon-bar-main{
	display: inline-block;
    list-style: none;
    color: black;

}
.navbar-inverse .navbar-nav > li > a:hover, .navbar-inverse .navbar-nav > li > a:focus {
    color: #aa183c;
}

.nav a:hover {
	color: #aa183c;
}
.navbar-right{
	display: none;
}
.menu-main{
	float: left;
	margin-left: 62px;
	margin-top: 3px;
    padding-bottom: 19px;
}
	}

.dropdown-menu a:hover {
	color: #aa183c;
}
.dropdown-menu > li > a:hover, .dropdown-menu > li > a:focus  {
  color: #aa183c;
  text-decoration: none;
  background-color: #ffffff;
  outline: 0;
}
.row {
    margin-right: 0px;
    margin-left: 0px;
}
.carousel {
    margin-top: 25px;
}

.nav .open > a, .nav .open > a:hover, .nav .open > a:focus {
	background-color: #ffffff;
}

.nav > li > a:hover, .nav > li > a:focus {
    text-decoration: none;
    background-color: #ffffff;
}

.line {
    border-left: 1px solid #000000; 
    margin-left: 5px; 
    padding-left: 20px;
}



ol, ul {list-style: none;}

* {
	margin: 0;
	padding: 0;
	outline: none;
}



.left {float: left;}
.right {float: right;}

.container {
	width: 1170px;
	margin: 0;
}

.navbar {
	background-color: #ffffff;
	height: 70px;
	font-weight: 300;
	font-size: 14px;
	margin-bottom: 0;
}

.navbar-inverse {
    background-color: #ffffff;
    border: #ffffff;
	width: 100%;
	margin: 0 auto;
}


.container-fluid {
	margin-left: 115px; 
}

.all-block {
	background-color: #ffffff;
}

.navbar-fixed-top {
	padding-top: 25px;
	padding-left: 115px;
	position: absolute;
}

.nav li {
	float: left;
	margin-right: 36px;
}

.navbar-header {
	float: left;
}

.navbar-inverse .navbar-nav > li > a {
	color: #111519;
}


.nav .navbar-nav .navbar-right li a i {
	display: inline-block;
}

.navbar-collapse {
	float: right;
}

.nav li a {
	text-transform: uppercase;
	font: 14px Source Sans Pro Semibold sans-serif;
	color: #111519;
}

#myCarousel h3 {
	margin-bottom: 25px;
	font: 15px/15px 'Open Sans', sans-serif;
	text-transform: uppercase;
}

#myCarousel h1 {
	margin-bottom: 32px;
	font: bold 48px/48px 'Source Sans Pro', sans-serif;
}
.right-icon li{
    float: left;
    margin-right: 17px;
}

.icon li {
	display: inline;
	padding-left: 15px;
}

a {
	color: #443c36;
}

.btn {
	display: inline-block;
	padding: 20px 60px;
	text-transform: uppercase;
	cursor: pointer;
	font: bold 15px/15px 'Open Sans Bold', sans-serif;
}

.btn:hover {
	background: #aa183c;
}

#articles {
	float: left;
	text-align: center;
	width: 774px; 
    margin: 0 auto;
}

#articles h2 {
	font: bold; 
}

#articles h1 {
	color: #aa183c;
}

#articles h3 {

}

#sidebar {
	float: right;
    width: 308px; 
    padding-left: 18px; 
}

#copyright {
    padding-top: 38px;
    text-align: center;
    color: #646464;
    clear: both;
}

.pagination ul {
	text-align: center;
}

.pagination ul li{
	display: inline;

}


.dropdown-submenu {
  position: relative;
}

.dropdown-submenu>.dropdown-menu {
  top: 0;
  left: 100%;
  margin-top: -6px;
  margin-left: -1px;
  -webkit-border-radius: 0 6px 6px 6px;
  -moz-border-radius: 0 6px 6px;
  border-radius: 0 6px 6px 6px;
}

.dropdown-submenu:hover>.dropdown-menu {
  display: block;
}

.dropdown-submenu>a:after {
  display: block;
  content: " ";
  float: right;
  width: 0;
  height: 0;
  border-color: transparent;
  border-style: solid;
  border-width: 5px 0 5px 5px;
  border-left-color: #ccc;
  margin-top: 5px;
  margin-right: -10px;
}

.dropdown-submenu:hover>a:after {
  border-left-color: #fff;
}

.dropdown-submenu.pull-left {
  float: none;
}

.dropdown-submenu.pull-left>.dropdown-menu {
  left: -100%;
  margin-left: 10px;
  -webkit-border-radius: 6px 0 6px 6px;
  -moz-border-radius: 6px 0 6px 6px;
  border-radius: 6px 0 6px 6px;
}

.block {
	float: left;
	width: 774px; 
}

.block2 {
	float: left;
	width: 378px; 
}
.block3 {
	float: right;
	width: 378px; 
}


#instagram {
  width: 100%;
}

#instagram ul li {
	display: block;
	float: left;
}

#instagram ul li a img:hover, #instagram ul li a img:focus {
	color: #666666;
	opacity: 0.5;
	
}


footer {

	width: 100%;
    background-repeat: repeat-x;
    background-position: bottom;
    clear: both;
	height: 280px;
	overflow: hidden;
    padding: 115px;
    color: #646464;
    background: #111519;
    bottom: 0;
    padding: 0;
    left: 0;
}

footer .container .row {
	width: 1170x;
	float: center;
	margin-left: 115px;
	padding-top: 46px;

}
footer h3 {
	color: #ffffff;
	font-size: 18px;
	font-weight: bold;
}


footer ul li a{
	color: #ffffff;
	font-size: 14px;
	font-weight: lighter;

}


.footer_menu_list {
	float: left;
	padding-right: 75px;

}
footer a img {
	float: left;
	padding-right: 14px;
}
	
.col-lg-4 p {
	font-size: 11px;
}


.col-lg-4 a p {
	font-size: 14px;
	font-weight: lighter;


}